.div-login {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -30px;
  .div-img {
    .imgLogin {
      margin-top: -20px;
      margin-left: 20px;
      border-radius: 20px;
      width: 650px;
      height: 500px;
      overflow: none;
      box-shadow: rgba(149, 157, 165, 0.7);
      z-index: 2;
      box-shadow: 5px 5px 10px rgba(149, 157, 165, 0.7);
      @media (max-width: 1200px) {
        width: 100%;
        height: 450px;
      }
    }
  }
}

:root {
  --buttonColor: #514bc3;

  --textColor: #fff;

  --borderColor: #fff;

  --singUpDivs: #fff;
}

//   .login-back {
//     padding: 22% 10%;
//     z-index: 1;
//     height: -10px;
//     background: url("../../../../assets/Home/login-background.PNG");
//     background-size: cover;
//     display: flex;
//     justify-content: center;
//     @media (max-width: 1400px) {
//       width: auto;
//       height: 800px;
//     }
//   }

.form-container {
  z-index: 2;
  position: relative;
  left: -5%;
  border: 1px solid --borderColor;
  background: var(--singUpDivs);
  border-radius: 5px;
  width: 500px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (max-width: 1200px) {
    margin-left: 90px;
  }
  .input-container {
    margin-left: 50px;
    margin-bottom: max(10px, 0.5vw);
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      box-shadow: 0 0 0px 1000px #fff inset;
      -webkit-text-fill-color: #888 !important;
    }
  }
}
.input-container p {
  line-height: 1.5;
  font-size: max(13px, 0.825vw);
  margin-bottom: max(7px, 0.5vw);
}

.inner-input {
  padding: 0 max(12px, 0.8vw);
  width: 80%;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: left;
  border-radius: 100vmax;
  &:focus-within {
    .span1 {
      color: darkblue !important;
    }
    border: 1px solid darkblue !important;
  }
}
.input-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: #888;
  font-size: max(16px, 1vw);
  margin: 0 max(3px, 0.2vw);
}
.driveS {
  margin-top: -60px;
  font-size: 17px;
  margin-left: 60px;
  font-family: "Montserrat", sans-serif;
  @media (max-width: 767px) {
    margin-top: 0px;
  }
}
.driveww {
  margin-bottom: max(18px, 0.5vw);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 60px;
  color: gray;
}
.terms {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  width: 380px;
  margin-left: 50px;
  @media (max-width: 767px) {
    width: auto;
  }
}
.span {
  color: var(--buttonColor);
  margin-left: 10px;
  @media (max-width: 767px) {
    width: auto;
  }
}

.span1 {
  color: black;
  margin-left: 10px;
  @media (max-width: 767px) {
    width: auto;
  }
}
.main-button {
  padding: 10px;
  background: blue;
  border: none;
  border-radius: 100vw;
  color: white;
  width: 80%;
  margin-left: 50px;
  font-family: "Montserrat", sans-serif;
}
.input-container input {
  flex: 1;
  padding: 0 max(6px, 0.35vw);
  font-size: max(12px, 0.725vw);
  height: max(40px, 2.75vw);
  color: #3a3a3a;
  border: 0;
  background: none;
  border-radius: 100vmax;
  &::placeholder {
    color: #3a3a3a;
  }
}

.left-container {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 767px) {
    margin-top: 430px;
    margin-left: 230px;
  }
  @media (max-width: 1200px) {
    margin-left: 100px;
  }
  .h1Signup {
    font-size: 50px;
    color: var(--textColor);
    width: 450px;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 767px) {
      font-size: 23px;
    }
    @media (max-width: 1200px) {
      font-size: 23px;
      margin-left: 200px;
    }
  }

  .h4Acc11 {
    padding-top: 40px;
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    @media (max-width: 1200px) {
      margin-left: 200px;
    }
  }
  .h4Login11 {
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    width: 50px;
    border: none;
    @media (max-width: 1200px) {
      margin-left: 200px;
    }
    &:hover {
      border-width: 50px;
      border-bottom: 2px solid #514bc3;
      cursor: pointer;
    }
  }
}

.forgot-pass {
  font-size: max(10px, 0.2vw);
  color: blue;
  margin-top: -20px;
  margin-left: 330px;
}

.register-acc {
  font-size: max(14px, 0.5vw);
  color: gray;
}

.register {
  color: darkblue;
}

.remember-me-div {
  display: flex;
  margin-left: 12%;
  .p-div {
    font-size: 12px;
    padding-left: 20px;
  }
}
.p-div1 {
  font-size: 12px;
  padding-left: 94px;
  padding-top: 10px;
  color: gray;
}
.cont-with {
  color: gray;
  margin-top: max(18px, 0.5vw);
  font-size: max(13px, 0.6vw);
}

.fb {
  color: rgb(8, 8, 170);
}

.tw {
  color: blue;
}

.div-logs {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.div-logs div {
  display: flex;
  border: 0.5px solid lightgray;
  padding: 10px 20px;
  border-radius: 100vw;
}

.div-logs div p {
  padding-left: 20px;
}
